$font-stack: 'Open Sans', sans-serif, 
$main-color: green

body
  font: $font-stack
  color: $main-color

.wrapper
  display: block
  margin: auto
  width: anything under 100%

.background
  background-repeat: no-repeat
  background-size: cover

.exp
  border: 5px solid black
  margin: auto
  margin-bottom: 20px
  text-align: center
  width: 25%
  border-radius: 8px
  padding: 20px
  padding-bottom: 20px
  font-size: 25px
  font-family: 'Combo', normal

.paragraph
  border: 5px solid black
  margin: auto
  margin-bottom: 20px
  margin-top: 20px
  text-align: center
  width: 100%
  border-radius: 8px
  padding: 20px
  padding-bottom: 20px
  padding-top: 20px
  font-size: 25px
  font-family: 'Combo', normal

.img-center
  border: 5px solid black
  border-radius: 8px
  margin-bottom: 20px
