$font-stack: 'Open Sans', sans-serif, 
$main-color: green

body
  font: $font-stack
  color: $main-color

.exp
  border: 5px solid black
  margin: auto
  margin-bottom: 20px
  text-align: center
  width: 25%
  border-radius: 8px
  padding: 20px
  padding-bottom: 20px
  font-size: 25px
  font-family: 'Combo', normal

.wrapper
  display: block
  margin: auto
  width: anything under 100%
  height: 100vh
  overflow-x: hidden
  overflow-y: auto
  perspective: 2px


.background
  background-repeat: no-repeat
  background-size: cover


.paragraph
  border: 5px solid black
  margin: auto
  margin-bottom: 20px
  margin-top: 20px
  text-align: center
  width: 100%
  border-radius: 8px
  padding: 20px
  padding-bottom: 20px
  padding-top: 20px
  font-size: 25px
  font-family: 'Combo', normal

.img-center
  border: 5px solid black
  border-radius: 8px
  margin-bottom: 20px




.section 
  position: relative
  height: 100vh

  display: flex
  align-items: center
  justify-content: center
  color: white
  text-shadow: 0 0 5px #000


.parallax::after 
  content: " "
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

  transform: translateZ(-1px) scale(1.5)
  background-size: 100%
  z-index: -1


.static 
  background-image: url('/images/color_fade.jpg')


.bg1::after 
  background-image: url('/images/jon-charlie.jpg')


.bg2::after 
  background-image: url('/images/my_pic.jpg')