$font-stack: 'Open Sans', sans-serif, 
$main-color: green

body
  font: $font-stack
  color: $main-color

.wrapper
  display: block
  margin: auto
  width: anything under 100%

.footer
  background-color: purple
  grid-column: 1
  grid-row: 5

.exp
  border: 5px solid black
  margin: auto
  text-align: center
  width: 25%
  border-radius: 8px
  padding: 20px
  font-size: 16px
  font-family: 'Combo', normal