%main
.flex.items-center.flex-no-shrink.font-semibold.text-black.text-center
    
  %p.container.font-semibold.max-w-md.mx-auto.mt-16.py-16.border-t.border-green-darker
    Follow me on social media
    %a{href: "mailto:jon1969edwards@gmail.com"} Gmail
    %a{href: "https://twitter.com/BovverSkin"} Twitter
    %a{href: "https://github.com/Bovverskin"} GitHub