%main.max-w-md.mx-auto.mt-16.py-16.border-t.border-grey-light
  .text-center
    %img{alt: "no", src: "./images/background.png"}/
  .text-center
    %h2 Jonathan C. Edwards
    %p
      Follow me on social media
      %a{href: "#"} Twitter
      
      %a{href: "#"} GitHub