%main.font-semibold.max-w-md.mx-auto.mt-16.py-16.border-t.border-grey-light
  .text-center
    %img{alt: "no", src: "./images/background.png"}/
  .text-center
    %h2 Jonathan C. Edwards
    %p
      Follow me on social media
      %a{href: "mailto:jon1969edwards@gmail.com"} Gmail
      %a{href: "https://twitter.com/BovverSkin"} Twitter
      
      %a{href: "https://github.com/Bovverskin"} GitHub