%main.container.font-semibold.max-w-md.mx-auto.mt-16.py-16.border-t.border-grey-light
  .flex.items-center.flex-no-shrink.font-semibold.text-green-darkest.mr-20
    %img{alt: "no", src: "./images/wind.svg"}/
    %span.float-right.font-semibold.text-5xl.tracking-wide Jonathan C. Edwards
  .text-center
    %img{alt: "no", src: "./images/background.png"}/
    %p
      Follow me on social media
      %img{alt: "no", src: "./images/my_pic.png"}/
      %a{href: "mailto:jon1969edwards@gmail.com"} Gmail
      %a{href: "https://twitter.com/BovverSkin"} Twitter
      %a{href: "https://github.com/Bovverskin"} GitHub