%form.flex.float-right.content-start.flex-wrap.bg-grey-lighter.h-48{method: "POST", name: "contact", netlify: ""}
  %p
    %label
      Your Name:
      %input{name: "name", type: "text"}/
  %p
    %label
      Your Email:
      %input{name: "email", type: "email"}/
  
  %p
    %label
      Message:
      %textarea{name: "message"}
  %p
    %button{type: "submit"} Send