.bg-grey.shadow.w-64.my-2
  %ul.list-reset
    %li
      %a.block.p-4.text-grey-darker.font-bold.border-grey.hover:bg-grey-lighter.border-r-4{href: "index.html"} Home
    %li
      %a.block.p-4.text-grey-darker.font-bold.border-grey-lighter.hover:border-grey-light.hover:bg-white-lighter.border-r-4{href: "bio.html"} About Me
    %li
      %a.block.p-4.text-grey-darker.font-bold.border-grey-lighter.hover:border-grey-light.hover:bg-white-lighter.border-r-4{href: "#"} Hobbies
    %li
      %a.block.p-4.text-grey-darker.font-bold.border-grey-lighter.hover:border-grey-light.hover:bg-white-lighter.border-r-4{href: "#"} Services
    %li
      %a.block.p-4.text-grey-darker.font-bold.border-grey-lighter.hover:border-grey-light.hover:bg-white-lighter.border-r-4{href: "#"} Contact Me