%svg.middleman-logo{"aria-labelledby" => "middleman-logo__title", role: "img", viewbox: "0 0 400 340", xmlns: "http://www.w3.org/2000/svg"}
= image_tag 'background.png', alt: '', height: '', width: '', class: ''
%h1
    Not sure how this works yet, but I'll get it.
= link_to("Read Documentation", "https://middlemanapp.com/basics/templating_language/", target: "_blank")

